body {
    border: 2px solid green;
}

#div1 {
    border: 1px solid black;
    padding: 50px 30px 150px 50px;
    margin: 30px 100px;
}

#div2 {
    border: 1px solid black;
    margin: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* 위아래 margin 여백은 서로 겹쳐질 수 있다. */
}