.red    { color: red;   }
.tomato { color: tomato;}
.spring { color: springgreen;}
.peru   { color: peru;}
.dodger { color: dodgerblue;}
.indi   { color:indianred; }
.teal   { color:teal}
.olive  { color:olivedrab}
.dark   { color:darkslategrey}
.sgreen { color:seagreen}
.sienna { color:sienna}
.oran { color:orangered}
.gold { color:gold}
.hippo   { color:rgb(208, 143, 228)}
.salmon { color:lightsalmon}

.small  { font-size: 20px;  }
.middle { font-size: 30px; }
.big    { font-size: 40px; }
.bbig    { font-size: 60px; }
