*{
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    background: tomato;
    padding: 5px;
    min-width: 515;
    max-width: 811;
    
    /* 
        # flex-direction: flex item 들의 방향 설정
            row - 가로 방향 flexbox
            column - 세로 방향 flexbox
            ※ reverse가 붙으면 역순
    */
    flex-direction: row;

    /* 
        # flext wrap: flex box가 가득 찼을 때 자동 줄 바꿈 설정
            nowrap(default) - 자동 줄바꿈 하지 않음
            wrap - 자동 줄바꿈
    */
    flex-wrap: nowrap;

    /* 
        # align-items: flex item들의 수직 정렬 설정
            stretch(default) - 시작지점부터 끝까지 최대한 늘린다
            flex-start - flex의 시작지점으로 정렬
            flex-end - flex의 끝지점으로 정렬
            center - 중간으로 정렬
    */
    align-items: center;
    justify-content: space-between;
}

.flexbox > * {
    background: white;
    margin: 5px;
    width: 25%;

}
/* 
    # flex-item properties
        - order: 아이템 순서 설정
        - flex-basis: 기본 크기 설정
        - flex-grow: 자라는 속도 설정
        - flex-shrink: 줄어드는 속도 설정
        - align-self: 수직 정렬 설정
*/

.flexbox > :first-child{
    height: 50px;
    order: 1;
    flex-shrink: 5;
    align-self: flex-start;
    /* flex-grow: 1; */
}
.flexbox > :nth-child(2) {
    height: 80px;
    order: 2;
    /* flex-grow: 1; */
}
.flexbox > :nth-child(3) {
    height: 100px;
    order: 3;
    flex-basis: 300px;
    flex-shrink: 2;
    align-self: flex-end;
    /* flex-grow: 4; */
}
.flexbox > :nth-child(4) {
    height: 200px;
    order: 4;
    /* flex-grow: 1; */
}
/* 
.flexbox > :nth-child(5) {
    height: 300px;
    order: 2;
}
.flexbox > :nth-child(6) {
    height: 350px;
    order: 4;
}
.flexbox > :nth-child(7) {
    height: 400px;
    order: 5;
}
.flexbox > :nth-child(8) {
    height: 80px;
    order: 6;
}
.flexbox > :last-child {
    height: 80px;
    order: 7;
} */


.flexbox2{
    display: flex;
    background-color: blue;
    padding: 5px;

    /*
        # justify-content: flex item들을 정렬한다

    */

    justify-content: space-between;
}
.flexbox2 > *{
    background-color: white;
    padding: 30px;
    font-size: 25px;
    margin: 5px;
}

.js{
    justify-content: flex-start;
}
.je{
    justify-content: flex-end;
}
.jsa{
    justify-content: space-around;
}
.jsb{
    justify-content: space-between;
}
.jsc{
    justify-content: space-evenly;
}