* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
#menubar {
    margin: 0;
    vertical-align: middle;
}
#search {
    position: relative;
    width: 130px;
    height: 30px;
    border: gray 1px solid;
    color: gray;
    margin: 10px;
    display: inline-block;
}
#search > .search1 {
    width: 80%;
    height: 100%;
    border: rgba(255, 255, 255, 0) 1px solid;
}
#search > .search2 {
    width: 20%;
    
}
#menubar > .fa-bars {
    float: right;
    margin: 10px;
    margin-top: 15px;
}
#main {
    text-align: center;
}
.main_img {
    background-color:rgb(41, 41, 41);
    width: 100%;
}
.main_msg {
    /* border: 1px black solid; */
    width: 300px;

    position: absolute;
    top: 15%;
    left: 65%;
   
    display: flex;
    flex-direction: column;

    text-align: left;
    vertical-align: middle;
}
.main_msg > * {
    color: rgb(41, 41, 41);
    margin: 5px;
}
.main_msg1 {
    width: 100%;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.grid-container {
    /* border: solid 2px darkred; */
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 15px;
    vertical-align: middle;
}
.grid-container > * {
    margin: 0;
    margin-top: 5px;
    color: rgb(41, 41, 41);
}
.main_msg4 {
    width: 130px;
    height: 40px;
    font-size: 13px;
    border: rgb(41, 41, 41) 1px solid;
    background-color: rgba(25, 0, 255, 0);
}

#page2 {
    background-color: rgb(41, 41, 41);
    height: 100%;
    text-align: center;
    padding: 30px;
}

#page2_msg > * {
    text-align: center;
    color: white;
    margin: 20px;
}

#page2_msg > #page2_msg1 {
    font-size: 45px;
    font-weight: bold;
}
#page2_3box {
    padding: 0 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#page2_3box > .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 20px;
    width: 300px;
    justify-content: center;
    /* border: 1px white solid; */
}

.box > * {
    margin: 0;
}

.box > p:first-child {
    font-size: 200px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
}

.box > .text {
    text-align: left;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 120px;
    width: 300px;
    left: 5%;
}

#page2_3box > #text1 {
    top: 730px;
    left: 2%;
}

.btn {
    width: 200px;
    height: 60px;
    font-size: 25px;
    border: white 1px solid;
    background-color: rgba(25, 0, 255, 0);
    color: white;
    margin: 20px;
}

#page3 {
    background-color: rgb(255, 255, 255);
    height: 100%;
    text-align: center;
    padding: 30px;
}

#page3_msg {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 20px;
}

#page3_img {
    position: relative;
    background-color: rgb(138, 137, 64);
    left: 40%;
    top: 80px;
    width: 700px;
    height: 300px;
    padding: 20px;
}

#page3_text{
    position: absolute;
    left: 52%;
    width: 40%;
    display: flex;
    flex-direction: row;
}

#page3_text > p {
    position: absolute;
    color: white;
    left: 5px;
    margin: 0;
    text-align: left;
}
  
#posuere {
    color: white;
}

#page3_text > p:first-child {
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

#page3_text > p:last-child {
    font-size: 18px;
    top: 60px;
}

#page3_img > img {
    position: absolute;
   
}

#img1 {
    bottom: -150px;
    left: -200px;
    z-index: 1;
    width: 300px;
}

#img2 {
    bottom: -160px;
    right: -40px;
    width: 280px;
}

#img3 {
    bottom: 85px;
    left: 50px;
    width: 280px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.637);
}

